server/mailarchiva.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="url:MAILARCHIVA" xmlns:impl="url:MAILARCHIVA" xmlns:intf="url:MAILARCHIVA" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="url:MAILARCHIVA" elementFormDefault="qualified">
   <element name="getServerVersion">
    <complexType/>
   </element>
   <element name="getServerVersionResponse">
    <complexType>
     <sequence>
      <element name="getServerVersionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="storeMessage">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="storeMessageResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getServerVersionResponse">

      <wsdl:part name="parameters" element="impl:getServerVersionResponse"/>

   </wsdl:message>

   <wsdl:message name="getServerVersionRequest">

      <wsdl:part name="parameters" element="impl:getServerVersion"/>

   </wsdl:message>

   <wsdl:message name="storeMessageResponse">

      <wsdl:part name="parameters" element="impl:storeMessageResponse"/>

   </wsdl:message>

   <wsdl:message name="storeMessageRequest">

      <wsdl:part name="parameters" element="impl:storeMessage"/>

   </wsdl:message>

   <wsdl:portType name="MailArchiva">

      <wsdl:operation name="getServerVersion">

         <wsdl:input name="getServerVersionRequest" message="impl:getServerVersionRequest"/>

         <wsdl:output name="getServerVersionResponse" message="impl:getServerVersionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="storeMessage">

         <wsdl:input name="storeMessageRequest" message="impl:storeMessageRequest"/>

         <wsdl:output name="storeMessageResponse" message="impl:storeMessageResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MailArchivaSoapBinding" type="impl:MailArchiva">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getServerVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServerVersionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServerVersionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="storeMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="storeMessageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="storeMessageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MailArchivaService">

      <wsdl:port name="MailArchiva" binding="impl:MailArchivaSoapBinding">

         <wsdlsoap:address location="http://127.0.0.1:8090/mailarchiva/services/MailArchiva"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
